<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:replace="~{fragments/head-fragments :: css-bootstrap}">
        <link th:replace="~{fragments/head-fragments :: containers-css}">
    </head>
    <body>
        <header th:replace="~{fragments/header-fragments :: public-header}"></header>
        <h1>Admin Login</h1>
        <form method="post" th:attr="action=@{/admin/login}">
            <label for="username">cpf:</label>
            <input type="text" name="username" id="username">
            <label for="password">senha:</label>
            <input type="text" name="password" id="password">
            <button type="submit">Entrar</button>
        </form>
    </body>
</html>