<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:replace="~{fragments/head-fragments :: css-bootstrap}">
        <link th:replace="~{fragments/head-fragments :: containers-css}">
    </head>
    <body>
        <header th:replace="~{fragments/admin/header-fragments :: authenticated-admin-header}"></header>
        <form method="post" th:attr="action=@{/admin/update-account}">
            <label for="cpf">cpf:</label>
            <input id="cpf" type="text" name="cpf">
            <label for="name">nome:</label>
            <input id="name" type="text" name="name">
            <label for="password">senha:</label>
            <input id="password" type="text" name="password">
            <button type="submit">Atualizar conta</button>
        </form>
        <span th:if="${success} != null" th:text="(${success} == true)? 'Dados do administratdor foram atualizados com sucesso!' : ''"></span>
        <div th:if="${adminRecord} != null" th:object="${adminRecord}">
            <p th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></p>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
    </body>
</html>