<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:replace="~{fragments/head-fragments :: css-bootstrap}">
        <link th:replace="~{fragments/head-fragments :: containers-css}">
    </head>
    <body>
        <header th:replace="~{fragments/header-fragments :: public-header}"></header>
        <div>
            <h1>Comprar produto</h1>
            <div th:if="${product} != null" th:object="${product}">
                <img th:attr="src='/static/images/'+*{sku}+'.png'" height="50px" width="100px" alt="">
                <h2 th:text="*{name}"></h2>
                <h3 th:text="*{price}"></h3>
                <p th:text="*{description}"></p>
                <form th:attr="action=@{/client/pay}" method="post">
                    <input type="hidden" id="sku" name="sku" th:value="${product.sku}">
                    <button type="submit">comprar</button>
                </form>
            </div>
            <div th:if="${buySuccess} != null">
                <span th:text="(${buySuccess})? 'Compra efetuada com sucesso!' : 'Não foi possivel efetuar a compra!' "></span>
                <div th:replace="~{fragments/body-fragments :: error-messages}"></div>
                <div th:replace="~{fragments/body-fragments :: warning-messages}"></div>>
                <span>
                    <form th:attr="action=@{/public/products}" method="get">
                        <button type="submit">voltar a pagina de produtos</button>
                    </form>
                </span>
            </div>

        </div>
    </body>
</html>