<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:replace="~{fragments/head-fragments :: css-bootstrap}">
        <link th:replace="~{fragments/head-fragments :: containers-css}">
    </head>
    <body>
        <header th:replace="~{fragments/header-fragments :: public-header}"></header>
        <main class="main-container">
            <div th:replace="~{fragments/body-fragments :: search-products}"></div>
            <div class="mt-2">
                <div th:replace="~{fragments/body-fragments :: products-list}"></div>
            </div>
        </main>
    </body>
</html>