<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:replace="~{fragments/head-fragments :: css-bootstrap}">
        <link th:replace="~{fragments/head-fragments :: containers-css}">
    </head>
    <body>
        <header th:replace="~{fragments/header-fragments :: public-header}"></header>
        <form method="post" th:attr="action=@{/admin/add-product}" enctype="multipart/form-data">
            <label for="product-image">imagem do produto:</label>
            <input id="product-image" type="file" name="product-image">
            <label for="sku">sku:</label>
            <input id="sku" type="text" name="sku">
            <label for="name">nome:</label>
            <input id="name" type="text" name="name">
            <label for="description">descrição:</label>
            <textarea id="description" name="description"></textarea>
            <label for="price">preço:</label>
            <input id="price" type="text" name="price">
            <label for="availableStock">estoque disponivel:</label>
            <input id="availableStock" type="number" th:value="0" name="availableStock">
            <button type="submit">Adicionar produto</button>
        </form>
        <span th:if="${success} != null" th:text="(${success} == true)? 'Produto cadastrado com sucesso!' : 'Houve um erro ao cadastrar o Produto!'"></span>
        <span th:if="${imageIsSaved} != null" th:text="(${imageIsSaved} == false)? 'A imagem não pode ser salva!':''"></span>
        <span th:if="${invalidImageFormat} != null" th:text="(${invalidImageFormat})? 'Formato de imagem invalido!':''"></span>
        <div th:if="${productRecord} != null" th:object="${productRecord}">
            <p th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></p>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
            <p th:if="${#fields.hasErrors('availableStock')}" th:errors="*{availableStock}"></p>
        </div>
    </body>
</html>