<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:replace="~{fragments/head-fragments :: css-bootstrap}">
        <link th:replace="~{fragments/head-fragments :: containers-css}">
        <link th:replace="~{fragments/admin/head-fragments :: product-registration-style}">
    </head>
    <body>
        <header th:replace="~{fragments/admin/header-fragments :: authenticated-admin-header}"></header>
        <div class="product-registration-container">
            <div class="product-registration-section">
                <h1>Atualizar produto</h1>
                <form th:if="${product} != null" th:object="${product}" method="post" th:attr="action=@{/admin/update-product}" enctype="multipart/form-data">
                    <div class="product-registration-fields">
                        <div class="product-image-registration-field">
                            <label for="product-image">imagem do produto:</label>
                            <input id="product-image" type="file" name="product-image">
                        </div>
                        <div class="product-registration-text-fields">
                            <input id="sku" type="hidden" name="sku" th:value="*{sku}">
                            <div class="product-registration-field">
                                <label for="name">nome:</label>
                                <input th:field="*{name}" type="text">
                            </div>
                            <div class="product-registration-field">
                                <label for="description">descrição:</label>
                                <textarea th:field="*{description}"></textarea>
                            </div>
                            <div class="product-registration-field">
                                <label for="price">preço:</label>
                                <input th:field="*{price}" type="text">
                            </div>
                            <div class="product-registration-field">
                                <label for="availableStock">Adicionar ao estoque:</label>
                                <input id="availableStock" name="availableStock" type="number">
                                <p th:text="'Há '+*{availableStock}+' produtos disponiveis'"></p>
                            </div>
                        </div>
                    </div>
                    <button type="submit">Atualizar produto</button>
                </form>
                <div class="product-registration-hints">
                    <span class="product-registration-hint">Não é permitido diminuir o estoque. Caso deseje é recomendado apagar o produto e inseri-lo novamente!</span>
                    <span class="product-registration-hint">Dica: evite clicar em atualizar sem ter alterado o produto. Isso pode prejudicar seu ranqueamento na lista de "mais comprados"!</span>
                </div>
                <div th:if="${success} != null">
                    <div th:replace="~{fragments/body-fragments :: warning-messages}"></div>
                    <div th:if="${success} == false">
                        <div th:replace="~{fragments/body-fragments :: error-messages}"></div>
                    </div>
                </div>
                <div th:if="${productRecord} != null" th:object="${productRecord}">
                    <p th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></p>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                    <p th:if="${#fields.hasErrors('availableStock')}" th:errors="*{availableStock}"></p>
                </div>
            </div>
        </div>
    </body>
</html>